.review-slider:before,
.review-slider:after {
  position: absolute;
  display: block;

  /* top: 50%; */
}
.review-slider:before {
  content: url(../../assets/banner/quoteLeft.png);
  left: 20px;
}
.review-slider:after {
  content: url(../../assets/banner/quoteRight.png);
  right: 20px;
}
@media only screen and (max-width: 600px) {
  .review-slider:before,
  .review-slider:after {
    display: none;
    padding: 0 30px;
  }
}
